header {
	position: fixed;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content:center;
	align-items: center;
    text-align:center;
	width: 100%;
    height:fit-content;
    background-color: #242424;	
    box-shadow: 0px 4px 20px 4px #000000;
	padding-top: 5px;
	padding-bottom:5px
}

body {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	background-color: #424242;
	margin: 0px;
}


.navigation {
    align-items: center;
    font-family: "Cinzel", serif;
	letter-spacing: 2px;
	color: #d4b37b;
	padding-left: 20px;
	letter-spacing: 10px;
	font-size: 60px;
}